.answersBlock {
}

.answersBlock label {
display: block;
}

.successWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
 button:hover {

    outline: none;
}

 .errorBlock {
     color: red;
     font-size: 20px;
     margin: 0;
     height: 60px;

     display: flex;
     align-items: center;
 }