
.stepperWrapper {
    width: 100%;
    margin-bottom: 50px;
}

.formWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stepperBox {
    height: 100%;
    padding-top: 10vh;
}